header{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    flex-direction: column;
    margin: 0 0 5px 0;
}
 /*background-color: #e5e5f7;
opacity: 0.8;
background-size: 20px 20px;
background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7);*/
body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    background-size: 23px 23px;
    background-image:  repeating-linear-gradient(0deg, rgba(150, 173, 233, 0.5), rgba(150, 173, 233, 0.5) 1px, white 1px, white);;
}

.container{
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
}

.prompt{
    display: flex;
    gap: 10px;
}

.btn-grid{
    display: grid;
    gap: 10px;
    margin: 15px 0;
}

.btn{
    padding: 10px 20px;
    font-size: 15px;
    opacity: 0.7;
    /* background-color: rgba(235, 235, 235, 0.8) */
}

.start-btn .next-btn{
    font-size: 15px;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.blue{
    border: 1px solid #96ADE9;
    opacity: 0.5;
    padding-left: 100%;
}

#user-name{
    opacity: 0.7;
}

#skip-name{
    margin-right: 345px;
}

#time-readout{
    margin: 5px 0 10px 10px;
}

#answer-correct{
    color: green;
}

#answer-incorrect{
    color: red;
}

#retry-btn{
 margin: 0 10px 0 0;
}

#score-board{
    font-size: xx-large;
    margin-left: 12px;
    margin-bottom: 95px;
}
