header{
    display: flex;
    justify-content: space-between;
    background: antiquewhite;
    font-size: larger;
}
main{
    display: flex;
    flex-direction: column;
    margin: 40px 350px 0 250px;
    text-align: center;
}
main input{
    font-size: x-large;
}
button{
    font-size: x-large;
    margin: 20px;
    text-align: center;
}